/node_modules
/node_modules/*
npm-debug.log
config.js
package-lock.json
crashlogs.txt
/config/*

/data/pokedex.js
/data/formats-data.js
/data/moves.js
/data/abilities.js
/data/items.js

/pd-tools/figures.js

.hg
.bzr
.svn
